.remove{
    border: 0px;
    margin-right: 5px;
    background-color: crimson;
    color: white;
}
.update{
    border: 0px;
    background-color: rgb(6, 189, 173);
    margin-right: 5px;
    color: white;
}
.add{
    border: 0ch;
    background-color: rgb(103, 156, 59);
    margin-right: 5px;
    color: white;
}